aiohttp==3.7.4.post0
aioice==0.7.5
aiortc==1.2.1
async-timeout==3.0.1
attrs==21.2.0
av==8.0.3
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
colorcet==2.0.6
cryptography==35.0.0
dnspython==2.1.0
google-crc32c==1.3.0
idna==3.3
multidict==5.2.0
netifaces==0.11.0
numpy==1.21.2
opencv-contrib-python==4.5.3.56
param==1.11.1
Pillow==8.4.0
pycparser==2.20
pyct==0.4.8
pyee==8.2.2
pylibsrtp==0.6.8
requests==2.26.0
typing-extensions==3.10.0.2
urllib3==1.26.7
yarl==1.7.0
